@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  font-family: 'Open Sans';
}

.nav-items{

  margin: ;
  padding: 2% 3%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display:  flex;
  font-size: 20px;
  background-color: #5A917F;

}



.nav-items a {
  text-decoration: none;
  color: #fff;
  transition: all .3s;
}

.nav-items a:hover {
  color: #000;
}

.nav-items a:active {
  opacity: .5;
}

h1{

  font-size: ;
  font-weight: bold;

}